img { border: 0; }

#thumbnails { margin: 0; padding: 0; }
#thumbnails li {
	list-style-type: none;
	float: left;
	margin: 0 0 0 1em;
	border: 10px solid #ddd;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
