<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>使用多个ng-app模块</title>
</head>
<body>
	<div ng-app="demo1" ng-controller="oneController">
		<input type="button" value="按钮1" ng-click="doSomething1()">
	</div>
	<div ng-app="demo2" ng-controller="twoController">
		<input type="button" value="按钮2" ng-click="doSomething2()">
	</div>

	<script src="../angular.min.js"></script>
	<script>
		var app1 = angular.module('demo1', []);
		app1.controller('oneController', function($scope) {
			$scope.doSomething1 = function() {
				console.log(123);
			}
		});

		var app2 = angular.module('demo2', []);
		app2.controller('twoController', function($scope) {
			$scope.doSomething2 = function() {
				console.log(321);
			}
		});

		// 手动让第二个div用demo2模块
		angular.bootstrap(document.querySelector('[ng-app="demo2"]'), ['demo2']);
	</script>
</body>
</html>