<!DOCTYPE html>
<html lang="en" ng-app="oneApp" >
<head>
	<meta charset="UTF-8">
	
</head>
<body>
	<table border="2" ng-controller="TestController">
		<tr>
			<td>登录名</td>
			<td><input type="text" ng-model="user.username"></td>
		</tr>
		<tr>
			<td>登录密码</td>
			<td><input type="password" ng-model="user.password"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="button" value="登录" ng-click="login()"></td>
		</tr>
		<tr>
			<td></td>
			<td>{{message}}</td>
		</tr>
	</table>
	<script src="../angular.min.js"></script>
	<script>
		// 创建一个模块
		var testModule = angular.module('oneApp', []);
		// 创建一个控制器
		testModule.controller('TestController', [
			'$scope',
			function($scope) {
				// data
				$scope.user = {
					username: '',
					password: ''
				};

				// action
				$scope.login = function() {
					console.log($scope.user);
				};

				// 用户名输入信息
				$scope.message = '请输入用户名';
				// 监视用户名变化
				$scope.$watch('user.username', function(now, old) {
					if (now) {
						if (now.length < 6) {
							$scope.message = '输入不得小于6位';
						} else {
							$scope.message = '';
						}
					} else {
						$scope.message = '请输入用户名';
					}
				});
			}
		]);
	</script>
</body>
</html>